.feature-section {
    background-color: #f9f9f9;
    padding: 40px 0;

    .container {
        max-width: 100%;
        margin: 0 auto;
        text-align: center;

        .features {
            display: flex;
            flex-direction: row;
            justify-content: center;

            .feature {
                flex: 1;
                min-width: 250px;
                padding: 20px;
                background-color: #fff;
                border: 1px solid #ddd;
                border-radius: 5px;
                margin: 10px;
                text-align: center;

                i {
                    font-size: 36px;
                    color: #007BFF;
                    margin-bottom: 10px;
                }

                h3 {
                    font-size: 20px;
                    color: #333;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 16px;
                    color: #555;
                }
            }
        }
    }

    @media (max-width: 768px) {
        .features {
            flex-direction: column;

            .feature {
                flex: 1;
                margin: 10px 0;
            }
        }
    }
}